:root {
  --bg-page: #fff;

  // text
  --text: #101828;
  --text-secondary: rgb(74, 85, 101, 0.8);
  --text-accent: #e7000b;

  // background
  --bg: #fff;
  --bg-primary: #155dfc;

  // icons
  --icon: #fff;
  --icon-secondary: #4a5565;
  --icon-accent: #e7000b;

  // button

  //stroke
  --stroke: #e5e7eb;

  //shadow
  --shadow: rgba(0, 0, 0, 0.1);
}
